/* Tutaj robimy importy innych plików CSS */

/*
np: 
@import "variables.css";
@import "mixins.css";
@import "layout.css";
@import "components.css"; 
*/

@import './_colors.css';
@import './_fonts.css';

@import "./single-project.css";
@import "./blog-single.css";
@import "./blog-index.css";

@import './header.css';
@import './footer.css';

@import './sections/project.css';
@import './sections/about-us.css';
@import './sections/hero.css';
@import "./sections/blog.css";

@import './a11y.css';

body {
    background-color: var(--color-background);
    font-family: var(--font-family-base);

    .container {
        max-width: 72rem;
        padding: 0rem 1.25rem 1rem 1.25rem;
        margin: 0 auto;
    }
}

#main-content:focus {
    outline: none;
}