/* Tutaj robimy importy innych plików CSS */

/*
np: 
@import "variables.css";
@import "mixins.css";
@import "layout.css";
@import "components.css"; 
*/

@import "./_colors.css";
@import "./_fonts.css";

@import "./single-project.css";

@import "./sections/project.css";
@import "./sections/about-us.css";
@import "./sections/hero.css";

body {
    background-color: var(--color-background);
    padding: 5rem 1.25rem;
    font-family: var(--font-family-base);

    .container{
        max-width: 72rem;
        margin: 0 auto;
    }
}
